@import "tailwindcss";

* {
  @apply duration-200 transition-transform;
}

:root {
  --background: #12131a;
  --bgsupp: #0a001162;
}

:root::-webkit-scrollbar {
  display: hidden;
}

:root::-webkit-scrollbar-track {
  width: 0px;
  display: hidden;
}

:root::-webkit-scrollbar-thumb {
  display: hidden;
}

body {
  background-image: radial-gradient(
    circle at 50% -30%,
    var(--bgsupp) 0%,
    transparent 80%
  );

  @apply w-screen h-screen text-gray-200 bg-(--background) bg-fixed;
}

.content {
  animation: load 300ms ease-in-out;
}

@keyframes load {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }

  90% {
    opacity: 40%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
