---
// Import global styles
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/small.svg" />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#1a1a1a" />

    <meta
      name="description"
      content="Sa Foundation: An ecosystem built for speed and determinism. The ecosystem features SaJIT, SaVM, Sa-Assembly and many others to nurture high performance compute."
    />
    <meta property="og:title" content="Sa Foundation" />
    <meta property="og:image" content="/banner.png" />

    <title>Sa Foundation - Fast, Impressive, Deterministic</title>
  </head>
  <body>
    <slot />
  </body>
</html>
