---
// Import global styles
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/small.svg" />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#12053b" />

    <meta
      name="description"
      content="Sa Foundation: An ecosystem built for speed and determinism. Explore SaJIT, SaRT, SaVM, SaFFI and others!"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://savmlang.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sa Foundation" />
    <meta
      property="og:description"
      content="Sa Foundation: An ecosystem built for speed and determinism. Explore SaJIT, SaRT, SaVM, SaFFI and others!"
    />
    <meta property="og:image" content="https://savmlang.github.io/banner.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="savmlang.github.io" />
    <meta property="twitter:url" content="https://savmlang.github.io/" />
    <meta name="twitter:title" content="Sa Foundation" />
    <meta
      name="twitter:description"
      content="Sa Foundation: An ecosystem built for speed and determinism. Explore SaJIT, SaRT, SaVM, SaFFI and others!"
    />
    <meta
      name="twitter:image"
      content="https://savmlang.github.io/banner.png"
    />

    <title>Sa Foundation - Fast, Impressive, Deterministic</title>
  </head>
  <body>
    <slot />
  </body>
</html>
